<mat-card class="signin-card mat-elevation-z8">
  <mat-card-header class="signin-header">
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="signin-form" [formGroup]="signinForm">
      <mat-form-field>
        <input matInput placeholder="Email" autocomplete="email" formControlName="email" />
        <mat-error *rxIf="signinForm.controls.email.invalid">{{ signinForm.controls.email.errors | json }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          autocomplete="current-password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password" />
        <mat-icon matSuffix color="primary" class="eye" (click)="hide = !hide">{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error *rxIf="signinForm.controls.password.invalid">{{
          signinForm.controls.password.errors | json
        }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="signin-actions">
    <button mat-raised-button [color]="'primary'" type="button" (click)="submit()">Sign In</button>
  </mat-card-actions>
  <mat-card-actions>
    <div>
      <span>Not registered yet?</span>
      <a mat-flat-button [routerLink]="'../register'" title="Register" class="">Register</a>
    </div>
  </mat-card-actions>
</mat-card>
