:host {
  display: flex;
  flex-direction: column;
  .signin-card {
    height: auto;
    width: 33vw;
    margin: auto;
    margin-top: 64px;
  }
  .signin-form {
    display: flex;
    flex-direction: column;
  }

  .signin-header {
    justify-content: center;
  }

  .signin-actions {
    justify-content: flex-end;
  }

  oxa-profile-info {
    padding-top: 16px
  }
}