<mat-card class="signin-card mat-elevation-z8">
  <mat-card-header class="signin-header">
    <mat-card-title>Send Code</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="signin-form" [formGroup]="sendCodeForm">
      <mat-form-field>
        <input matInput type="number" placeholder="Code" formControlName="code" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="signin-actions">
    <button mat-raised-button [color]="'primary'" type="button" (click)="submit()">Send Code</button>
  </mat-card-actions>
  <mat-card-actions>
    <div>
      <span>Didn't receive code?</span>
      <button mat-flat-button title="Resend" class="" type="button">Resend</button>
    </div>
  </mat-card-actions>
</mat-card>
