:host {
  .title-divider {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttons-wrapper {
      display: flex;
      gap: 16px;
    }
  }
}
