$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$header-height: 64px;
$sidenav-width: 240px;
$mini-sidenav-width: 60px;

$white-color: #ffffff;
$light-gray-color: #f3f3f3;
$gray-color: #ededed;
$dark-gray-color: #8c8c8c;

$base-margin: 8px;
