<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="opened">
    <mat-nav-list>
      <mat-list-item *rxFor="let item of items$" [routerLink]="item.url" #listItem routerLinkActive="active">
        <ng-container
          [ngTemplateOutlet]="sidenavItemTemplate"
          [ngTemplateOutletContext]="$any({ $implicit: item })"></ng-container>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="opened = !opened" class="pull-drawer">
      <mat-icon>{{ opened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
